/*Body*/
body{
    margin : 0;
    background-color: #282b30 ;
    color: white;
    font-family: sans-serif;
}

/*Header*/

header{
    margin : 0;
}

section#nav > nav > a, section#nav > nav > a:hover, section#nav > nav > a:visited{
    color: white;
    font-size: large;
    text-decoration: none;
    padding: 2px 0.5em;
    margin: 0 0.75em;
}

section#nav > nav > a:hover{
    text-decoration: underline;
}

section#nav{
    position: sticky;
    top: 0;
    background-color: #1e2124;
    padding: 0.5em;
    margin : 0;
    z-index: 1;
}

#nav nav {
    text-align: right;
}

header figure {
    margin : 0;
    position: relative;
}

header figure figcaption {
    font-size: 3em;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 2em;
}

.head{
    width: 100%;
    object-fit: cover;
    height: 15em;
}

/*Flex*/

section#nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

/*Main*/

h1,h2{
    font-family: sans-serif;
}

h1{
    margin-left: 1em;
    font-size: 2em;
    align-self: normal;
}

h2{
    text-align: center;
}

h3{
    margin: 0;
}

main a, main a:hover, main a:visited{
    color: white;
    text-decoration: none;
}
main a:hover{
    text-decoration: underline;
}

main section{
    margin : 1em;
    
}

main article{
    margin: 0 1em;
    text-align: justify;
}
main article div{
    margin: 0 1em;
}


/*About me*/

main section#about-me section article{
    margin: 1em;
    margin-right: 15em;
}

main section#about-me p{
    font-size: 1.2em;
}



/*download button stuff*/

main .modal-content form{
    margin: 1em;
}
main .modal-content form div{
    margin: 0.5em;
}
main .modal-content h4{
    margin: 0.5em;
}

main .modal-content button{
    background-color: #c4c4c4;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    margin: 4px 2px;
    cursor: pointer;
}


/*Compétences*/

main .projet article h2{
    margin-bottom: 0.1em;
}

main .projet article figure{
    background-color: #bde3ff;
    text-align: center;
    width: auto;
    position:relative
}


main .projet article figure:hover{
    transform: scale(1.1);
    transition: transform .3s ease;
}

main .projet article img:hover{
    opacity: 1;
}

main .projet article figure figcaption, main .projet article figure:hover figcaption{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    background-color: #282b30;
    border-radius: 0.1em;
    padding: 0.5em;
    text-align : center;
    width:fit-content;
    color: white;
    text-decoration: none;
}
main .projet img{
    width: 15vw;
    padding: 1em;
    opacity: 0.5;
}

main .projet div{
    width: 33%;
    text-align: center;
    font-size: 1.2em;
}


hr {
    color: #c4c4c4;
    border-width: 5px;
    border-style: solid;
    margin: 0 2em;
}

/*FLEX*/

/*About Me*/

main section#about-me section{
    display: flex;
    align-items: flex-start;
}
main section#about-me section article{
    display: block;
    flex-direction: column;
}

/*Projets*/
main .projet section, main .projet article{
    display: flex;
    justify-content:space-evenly;
}

main .projet section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
main .projet article div{
    display: flex;
    flex-direction: column;
}

/*Footer */
footer{
    background-color: #c4c4c4;
    padding: 0.5em;
    color: black;
}

/*Modal*/
#myBtn{
    background-color: #c4c4c4;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    margin: 4px 2px;
    cursor: pointer;
}

#myModal{
    margin: 0;
}
/* The Modal (background) */
.modal {
    color: black;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin: 0.5em;
    margin-top: 0.1em;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
/*Footer*/

footer{
    text-align: center;
}
footer h4{
    margin: 0.5em;
}

footer .row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    margin-bottom: 0.5em;
}


/*parcour*/

#parcour h2{
    text-align: start;
}

#parcour hr{
    width: 40em;
    border-width: 3px;
}

#parcour a{
    color: #618feb;
}

#parcour section{
    margin: 1em 4em;

}
#parcour article{
    margin: 1em;
    width: 50em;
}

/*detail competence*/

.desc{
    display: flex;
}

.desc h2{
    text-align: left;
}

.desc h3{
    margin-left: 1em;
}

.desc p{
    margin-left: 5em;
    width: 15em;
    padding: 0.5em;
    border: #c4c4c4 3px inset;
}

.proj{
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}

.proj article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50em;
}

.proj article p + h3{
    margin-left: 3em;
}

.proj article ul{
    margin-left: 5em;
}

.proj article figure{
    align-self: end;
    justify-self: end;
}

.proj article figure:hover{
    transform: scale(1.1);
    transition: transform .3s ease;
}

.proj hr{
    width: 40em;
    border-width: 3px;
    margin-bottom: 1em;
}

/*Media Queries*/